@tailwind base;
@tailwind components;
@tailwind utilities;

.image{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    display: block;
    margin: auto;
}
.content{
    width: 22%;
    height: 45%;
    position: absolute;
    background-color: #b7c5d6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.3s;
    border: 2px rgb(136, 198, 223);
}
.content:hover{
    opacity: 1;
    cursor: pointer;
}
.content h1{
    font-size: 30px;
}
.content p{
    font-size: 15px;
    padding-left: 10px;
}
.content > *{
    transform: translateY(20px);
    transition: transform 0.3s;
}
.content:hover > *{
    transform: translateY(15px);
    
}

.image-2{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    display: block;
    margin: auto;
}
.content{
    width: 22%;
    height: 43%;
    position: absolute;
    background-color: #b7c5d6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.3s;
    border: 2px rgb(136, 198, 223);
}
.content:hover{
    opacity: 1;
    cursor: pointer;
}
.content h1{
    font-size: 30px;
}
.content p{
    font-size: 15px;
    padding-left: 10px;
}
.content > *{
    transform: translateY(20px);
    transition: transform 0.3s;
}
.content:hover > *{
    transform: translateY(15px); 
}

.image-3{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    display: block;
    margin: auto;
}
.content-3{
    width: 22%;
    height: 47%;
    position: absolute;
    background-color: #afd4cc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.3s;
    border: 2px rgb(136, 198, 223);
}
.content-3:hover{
    opacity: 1;
    cursor: pointer;
}
.content-3 h1{
    font-size: 30px;
}
.content-3 p{
    font-size: 15px;
    padding-left: 10px;
}
.content-3 > *{
    transform: translateY(20px);
    transition: transform 0.3s;
}
.content-3:hover > *{
    transform: translateY(15px);
    
}

.image-4{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    display: block;
    margin: auto;
}
.content-4{
    width: 22%;
    height: 45%;
    position: absolute;
    background-color: #dabd7f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.3s;
    border: 2px rgb(241, 213, 150);
}
.content-4:hover{
    opacity: 1;
    cursor: pointer;
}
.content-4 h1{
    font-size: 30px;
}
.content-4 p{
    font-size: 15px;
    padding-left: 10px;
}
.content-4 > *{
    transform: translateY(20px);
    transition: transform 0.3s;
}
.content-4:hover > *{
    transform: translateY(15px);
    
}

.image-5{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    display: block;
    margin: auto;
}
.content-5{
    width: 25%;
    height: 50%;
    position: absolute;
    background-color: #dabd7f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.3s;
    border: 2px rgb(241, 213, 150);
}
.content-5:hover{
    opacity: 1;
    cursor: pointer;
}
.content-5 h1{
    font-size: 30px;
}
.content-5 p{
    font-size: 15px;
    padding-left: 10px;
}
.content-5 > *{
    transform: translateY(20px);
    transition: transform 0.3s;
}
.content-5:hover > *{
    transform: translateY(15px);
}


.contact h2{
    margin-bottom: 3rem;
    color: rgb(209, 136, 136);
}

.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 2rem auto;
    text-align: center;
}

.contact form .input-box{
      display: flex;
      color: black;
      justify-content: center;
      flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 90%;
    padding: 1rem;
    color: black;
    background-color: rgb(187, 117, 117);
    border-radius: 1rem;
    border: 4px solid rgb(189, 94, 94);
    margin: 1rem auto;
    resize: none;
}
.contact form .btn{
    margin: 2px;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 1rem;
    background-color: rgb(187, 117, 117);
    border: 4px solid rgb(189, 94, 94);
}